@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff; /* White background */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d9d9d9; /* Unfilled color */
  opacity: 1; /* Ensure visible */
  margin: 0 8px; /* Add some spacing between dots */
}

.swiper-pagination-bullet-active {
  background: #749b3f; /* Filled color for active dot */
}

.swiper-pagination {
  margin-top: 20px; /* Adjust distance from the slider */
}
